.header{
    /*border: 2px solid red;*/
    background-color: lightseagreen;
    height: auto;
    box-shadow: 0px 6px 19px darkcyan;
}
#logo{
    color: white;
    /*border: 2px solid red;*/
    height: 60px;
    padding-top: 0px;
}
#logo h3{
    height: auto;
    /*border:1px solid blue;*/
    /*line-height: 63px;*/
    /*font-size: 1.5em;*/
    font-weight: bold;
    text-shadow: 1px 2px 5px black;
}
.link1{
    /*border: 1px solid blue;*/
    height: auto;
    /*height: 30px;*/
}
#link{
    color: black;
    line-height: 30px;
    font-size: 1.3em;
    font-weight: bold;
}
#link:hover{
    color: darkcyan;
    transition: 0.6s;
}
.active{
    background: black;
}
.active a{
    color: white !important;
}
.active a:hover{
    color: darkcyan !important;
}
.icon-color{
    border: 2px solid black;
}
.main-page{
    text-align: center;
    padding: 40px;
}
.main-page a{
    margin-right: 20px; 
    font-size: 1.4em;
}
.box1{
    /*border: 1px solid red;*/
    position: relative;
    top: 150px;
}
.mid{
    /*border: 1px solid red;*/
    position: relative;
    top: 100px;
}
.mid label{
    font-size: 1.1em;
}
.signup{
    font-size: 1.3em !important;
}
